/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #6a6a6a;
    padding: 20px;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #cecece;
}

.button_1 {
    color: #000000;
    background-color: #fe5252;
} 